{% extends '../layout.html' %}

{% block content %}
  <h1 class="title">
      {{ todo.task }}
  </h1>

  <p>
    <strong>Status: </strong> {% if todo.done %}done{% else %}still to do{% endif %}
  </p>
  
  {% if not todo.done %}
  <form action="{% url 'todo:done_todo' todo.id %}" method="post">
    {% csrf_token %}
    <button class="button is-success is-large" type="submit">Set as done</button>
  </form>
  {% endif %}

  <div class="box">
    {% include '../comments/form.html' %}
  </div>

  {% include '../comments/index.html' %}

  <hr>
{% endblock %}